/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  position: fixed; /* Sticks the header to the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  background-color: #8bb7c5; /* background color */
  padding: 10px 20px; /* Spacing inside the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* Text color */
  z-index: 1000; /* Ensures it's above other content */
}

/* Logo */
.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px; /* Space between links */
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #D3EAED;
}

/* Login Button */
.nav-links .btn {
  padding: 8px 15px;
  background-color: #4f899b;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links .btn:hover {
  background-color: #457381;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #4E7E8D !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0;
  left: auto;
}

#dropdown-header {
  padding: 8px 15px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown:hover #dropdown-header {
  background-color: #4E7E8D;
}